# язык зранимых процедур и триггеров

Хранимые процедуры - процедуры, которые хранятся как часть метаданных и для выполнения явно вызываются (` ` ` sql execute ` ` `)

Триггеры - специализированные версии хранимых процедур

    Связаны с таблицей и каким-либо событием на этой таблице(inserts, uodate , delete) и вызываются автоматически при поступлении этого события

Преимущества:

    *Модульное программирование, проектирование
    *Упрощение сопровождения(BL по СУБД)
    *уменьшение нагрузки на каналы связи

# Переменные

DECLARE @имя_переменной INT
SET @имя_перемнной = 10

Таблица Products                orders
id, id_sklad    pk               id, id_sklad

                                date  

name                       pk   id.prod
count                           count

before/after+
insert/update/delete

```SQL
CREATE TRIGGER tr1 ON Orders
AFTER INSERT foreachrow
            foreachstatement
AS 

BEGIN
UPDATE Products 
SET count=count-(SELECT count FROM inserted
                WHERE inserted.id.prod=prodects.id)
WHERE /*id in(SELECT id.prod FROM inserted)*/ EXISTS(SELECT * FROM INSERTED
                                            WHERE Products.id=id_prod AND 
                                            Products.id=Orders.id_sklad)
    

END
```

```SQL
CREATE TRIGGER tr2 ON Orders
AFTER DELETE
AS 

BEGIN
UPDATE Products 
SET count=count+(SELECT ??? FROM deleted
                WHERE inserted.id.prod=prodects.id)
WHERE /*id in(SELECT id.prod FROM inserted)*/ EXISTS(SELECT * FROM INSERTED
                                            WHERE Products.id=id_prod AND 
                                            Products.id=Orders.id_sklad)
    

END

```

/*СКЛАДЫ В ТАБЛИЦЕ УБРАЛИ*/

```SQL
    CREATE TRIGGER AU_Orders ON Orders
    AFTER UPDATE AS
    BEGIN
        IF (UPDATE(id.prod) OR UPDATE(count))
            BEGIN
                UPDATE Products
                SET count=count-(SELECT sum(count)
                FROM inserted : WHERE : if.prod=Products.id)

                WHERE if in(SELECT id.prod FROM inserted)
                UPDATE Products
                SET count=count+(SELECT sum(count)
                FROM deleted WHERE id.prod=Products.id)
                WHERE id in(SELECT id_prod FROM deleted)
                END

            END
    

```

data1
data2
product

```SQL
CREATE FUNCTION Get_prod_counts (@prod varchar(20),
    @date1 date,
    @date2 date)
RETURNS decimal(15,2)
AS
    RETURN(SELECT SUM(count)
    FROM Products p, Orders o
    WHERE p.id=o.id_prod AND
          p.name=@prod AND
          o.odate BETWEEN @date1 AND @date2)

```

//return TABLE

```SQL
CREATE FUNCTION Get_prod_orders 
    (@prod varchar(20),
    @date1 date,
    @date2 date)
RETURNS TABLE("Необязательный список полей")
AS
    RETURN(SELECT name,odate,o.count
    FROM Products p, Orders o
    WHERE p.id=o.id_prod AND
          p.name=@prod AND
          o.odate BETWEEN @date1 AND @date2)

```

```SQL
CREATE PROCEDURE Get_prod_count
    (   @prod varchar(20),
        @date1 date,
        @date2 date,
        @sum decimal(13,2) OUTPUT)
AS BEGIN 
    SELECT (@sum=sum(count) 
    FROM Products p, Orders o
    WHERE p.id=o.id_prod AND
          p.name=@prod AND
          o.odate BETWEEN @date1 AND @date2)

```

```SQL
DECLARE @sum decimal(15,2)
EXECUTE Get_prod_count('Apples', 01.01.2022, 31.12.2022,@sum OUTPUT)

```